.oc-accordion {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #eaeaea;

    .oc-accordion-item {
        .oc-accordion-item-header {
            font-size: 1.3em;
            cursor: pointer;
            user-select: none;
            border-bottom: 1px solid #eaeaea;

            &.oc-selected {
                border-radius: 5px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                box-shadow: 0 0 1pt 1pt #74b9ff;
            }
        }

        .oc-accordion-item-body {
            font-size: 1.3em;
            max-height: 0;
            overflow: hidden;
            transition: max-height 450ms cubic-bezier(0, 1, 0, 1);

            &.oc-selected {
                transition: max-height 450ms ease-out;
                max-height: 500px;
            }
        }

        &:last-of-type {
            .oc-accordion-item-header {
                border-bottom: none;

                &.oc-selected {
                    border-top: none;
                    border-bottom: 1px solid #eaeaea;
                }
            }
        }
    }
}
