.oc-datepicker {
    display: block;
    width: max-content;

    .oc-datepicker-header {
        display: flex;
        text-align: left;
        align-items: center;
        justify-content: space-between;
        font-size: 0.8em;

        .oc-month-picker {
            padding-right: 10px;
        }

        .oc-year-picker {
            position: relative;
            display: inline-block;
            cursor: pointer;
            padding: 10px 20px;
            width: max-content;
            font-weight: bold;
            text-align: left;
            user-select: none;

            svg {
                width: 16px;
                height: 16px;
                position: absolute;
                top: 0;
                bottom: 0;
                right: -5px;
                margin: auto 0;
                transform: rotate(0deg);
                transition: transform ease-out 200ms;
            }

            &.oc-active {
                svg {
                    transform: rotate(-180deg);
                }
            }
        }
    }

    .oc-datepicker-body {
        padding: 10px;

        .oc-year-view {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 280px;
            max-height: 240px;
            overflow-y: scroll;
            font-size: 0.8em;

            .oc-year-item {
                cursor: pointer;
                width: 70px;
                padding: 10px 0;
                border-radius: 5px;
                text-align: center;

                &:hover {
                    background-color: rgb(0 0 0 / 5%);
                }

                &.oc-active {
                    background-color: var(--color-primary);
                    color: #000;
                }
            }
        }

        .oc-date-row,
        .oc-header-row {
            display: flex;
            width: 280px;
            flex-wrap: wrap;
            font-size: 0.9em;

            .oc-date-item {
                font-weight: bold;
                min-width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50%;
                user-select: none;
                text-align: center;
            }
        }

        .oc-date-row {
            margin: 5px 0;

            .oc-date-item.oc-enabled {
                font-weight: normal;
                cursor: pointer;

                &:hover {
                    background-color: rgb(0 0 0 / 5%);
                }

                &.oc-shadow {
                    color: #999;
                }

                &.oc-active {
                    background-color: var(--color-primary);
                    color: #000;
                }

                &.oc-active-start {
                    border-radius: 5px 0 0 5px;
                    background-color: var(--color-primary);
                    color: #000;

                    &.oc-active-end {
                        border-radius: 5px;
                        background-color: var(--color-primary);
                        color: #000;
                    }
                }

                &.oc-active-range {
                    border-radius: 0;
                    background-color: var(--color-active);
                    color: #000;
                }

                &.oc-active-end {
                    border-radius: 0 5px 5px 0;
                    background-color: var(--color-primary);
                    color: #000;
                }
            }
        }

        .oc-header-row {
            font-weight: bold;
        }
    }
}

.oc-date-input {
    .oc-date-input-popup {
        display: block;
        z-index: 999;
        box-shadow: 1px 2px 3px rgb(0 0 0 / 10%);
        border-radius: 5px;

        .oc-datepicker {
            margin: 0;
        }
    }

    input {
        cursor: pointer;
        caret-color: transparent;

        &::selection {
            display: none;
        }
    }
}
