:root {
    --color-primary: #ff2e63;
    --color-active: #ff4775;
    --color-secondary: #08d9d6;
    --color-secondary-active: #09ece8;
}

.oc-clearfix::after {
    content: "";
    clear: both;
    display: table;
}
