@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap";

.oc-input {
    position: relative;
    display: inline-block;
    margin: 10px auto;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2em;
    transition: all 100ms ease-out;

    &:focus-within {
        border-color: var(--color-primary);
    }

    input,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        border: none;
        outline: none;
        background-color: transparent;
        color: inherit;
        resize: none;
        box-sizing: border-box;
    }

    &.oc-error {
        border-left: #e74c3c 5px solid;
    }

    .oc-error-message {
        padding: 10px;
        padding-top: 0;
        color: #e74c3c;
        text-align: left;
    }
}

.oc-text-input input,
.oc-number-input input,
.oc-input textarea {
    width: 100%;
    padding: 10px;
}

.oc-file-select {
    span.oc-input-text {
        cursor: pointer;
        display: block;
        padding: 20px;
    }

    .oc-file-item {
        display: inline-block;
        font-size: 0.8em;
        margin: 10px;
        border-radius: 5px;
        background-color: rgb(0 0 0 / 5%);
        cursor: pointer;
        transition: all ease-out 125ms;
        user-select: none;

        span {
            display: block;
            padding: 10px 20px;
        }

        &:hover {
            background-color: #e74c3c;
            color: #fff;
        }
    }
}

.oc-number-input {
    display: inline-block;

    .oc-number-input-inner {
        display: flex;
        align-items: center;
        justify-items: center;

        input {
            appearance: textfield;
            width: 100%;
            text-align: center;
        }

        .oc-number-button {
            display: inline-block;
            line-height: 40px;
            text-align: center;
            background: none;
            user-select: none;
            font-weight: bold;
            border: none;
            cursor: pointer;
            font-size: 1.5em;
            vertical-align: middle;
            padding: 0 10px;
        }
    }
}

.oc-text-area {
    .oc-area-counter {
        position: absolute;
        bottom: 7.5px;
        right: 15px;
        min-width: 30px;
        text-align: center;
        font-size: 1.1em;
        color: #fff;
        padding: 2.5px;
        border-radius: 5px;
    }

    &.oc-limited textarea {
        margin-bottom: 35px;
        line-height: 24px;
        overflow-y: auto;
    }
}
