@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap";

.oc-select {
    display: inline-block;
    width: 100%;
    position: relative;
    font-family: "Source Sans Pro", sans-serif;

    .oc-select-value {
        position: relative;
        cursor: pointer;
        user-select: none;

        span {
            display: block;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding: 10px;
        }

        svg {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            right: 15px;
            display: inline-block;
            width: 16px;
            height: 16px;
            transform-origin: center;
            transform: rotate(0deg);
            transition: transform ease-out 100ms;
        }
    }

    &.oc-active {
        .oc-select-value {
            border-color: var(--color-primary);

            svg {
                transform: rotate(-180deg);
            }
        }
    }
}

.oc-select-list {
    display: inline-block;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    min-width: 100%;
    width: 100%;
    max-width: max-content;
    max-height: 500px;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 10%);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 9999;

    .oc-query-input {
        margin: 10px;
        width: calc(100% - 20px);
        margin-bottom: 15px;

        input {
            padding: 5px;
            text-align: center;
        }
    }

    .oc-select-item {
        padding: 10px;
        user-select: none;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.2em;
        width: 100%;

        &.oc-selected {
            background-color: var(--color-primary);
        }
    }
}
